--- 
import Layout from '../layouts/Layout.astro';
import CampaignBlock from '../components/CampaignBlock.astro';
export const pageTitle = "Platform";

---
<Layout pageTitle={pageTitle}>
    <h1> The Platform </h1>     
    <div class="content-blocks"> 
        
        <CampaignBlock title = "Public Transit", blockText = "I believe in investing in public transit infrastructure due to the benefits it provides to the people. Improving public transit would provide less congestion on the roads, it reduces commute times, provides another option and convenience for transportation and has much lower emissions. It takes a long time to build a good public transit system with proper planning, modernised design and implementation. There&rsquo;s no better time to start now in order to ensure Tecumseh has good public transit infrastructure. 
        In order to address the issue, I would:
        <ul>
            <li>Shelters need to be installed on all bus stops in Tecumseh, starting with the most used bus stops. The design should be low maintenance, damage-resistant, allows visibility, provides shade and shelter from the elements. This will encourage more ridership for Tecumseh Transit Service and generate additional revenue after the initial investment of bus shelters.</li>
            <li>Having bus shelters/benches provides advertising opportunities for local businesses and would help cover some of the cost of the service.</li>
            <li>Work in tandem with the City of Windsor to provide an improved route to Windsor from Tecumseh.</li>
            <li>Expand the current route from Lesperance Road &amp; Renaud Street southbound to creating a stop at Lesperance &amp; Westlake Drive by the Tecumseh Tower Centre. This small route expansion would increase support for local businesses and spur increased ridership.</li>
            </ul>" />
            
            <CampaignBlock title = "Transparency", blockText = "Due to Councillor being a publicly elected position, 
            I believe transparency and communication with the public is vital. <br><br>
            Any decision making and knowledge should be shared in a timely manner with the public. 
            I would utilise my website to provide summaries of council meetings and provide as much information as necessary. <br><br>
            Town residents can also connect with me through email or phone at any time.
            I will also host monthly meetings at local businesses to have face to face meetings with voters. <br><br>
            The meetings will be on rotating days/times to allow for more flexibility for people to attend with work commitments.
            " />
            
            <CampaignBlock title = "Active Transportation", blockText = "Creating a town with walkable neighbourhoods and active 
            transportation in mind is something I would like to expand going forward. 
            Active transportation (biking, walking, skateboarding, etc) reduces road congestion, 
            lowers the emissions in our town, provides an opportunity to be physically active simply by commuting and 
            is easily accessible to almost everyone.
            <br><br>
            <ul>
                <li>Continue to expand bicycle infrastructure in Tecumseh to promote healthy living and active transportation</li>
                <li>Prioritise active transportation in the design of future town expansion and development</li>
                </ul>
                
                " />
            </div>
</Layout>
            
            <style>
                h1{
                    display:flex;
                    justify-content:center;
                    margin-bottom: 2rem;
                }
                
                .content-blocks{
                    display:grid;
                    gap:16px;
                }
            </style>