--- 
import Layout from '../layouts/Layout.astro';
import CampaignBlock from '../components/CampaignBlock.astro';
export const pageTitle = "Platform";

---
<Layout pageTitle={pageTitle}>
    <h1> The Platform </h1>     
    <div class="content-blocks"> 
        
        <CampaignBlock id = "public-transit" title = "Public Transit", blockText = "I believe in investing in public transit infrastructure due to the benefits it provides to the people. Improving public transit would provide less congestion on the roads, it reduces commute times, provides another option and convenience for transportation and has much lower emissions. It takes a long time to build a good public transit system with proper planning, modernised design and implementation. There&rsquo;s no better time to start now in order to ensure Tecumseh has good public transit infrastructure. 
        In order to address the issue, I would:
        <ul>
            <li>Shelters need to be installed on all bus stops in Tecumseh, starting with the most used bus stops. The design should be low maintenance, damage-resistant, allows visibility, provides shade and shelter from the elements. This will encourage more ridership for Tecumseh Transit Service and generate additional revenue after the initial investment of bus shelters.</li>
            <li>Having bus shelters/benches provides advertising opportunities for local businesses and would help cover some of the cost of the service.</li>
            <li>Work in tandem with the City of Windsor to provide an improved route to Windsor from Tecumseh.</li>
            <li>Expand the current route from Lesperance Road &amp; Renaud Street southbound to creating a stop at Lesperance &amp; Westlake Drive by the Tecumseh Tower Centre. This small route expansion would increase support for local businesses and spur increased ridership.</li>
            </ul>" />
            
            <CampaignBlock id = "transparency" title = "Transparency", blockText = "Due to Councillor being a publicly elected position, 
            I believe transparency and communication with the public is vital. <br><br>
            Any decision making and knowledge should be shared in a timely manner with the public. 
            I would utilise my website to provide summaries of council meetings and provide as much information as necessary. <br><br>
            Town residents can also connect with me through email or phone at any time.
            I will also host monthly meetings at local businesses to have face to face meetings with voters. <br><br>
            The meetings will be on rotating days/times to allow for more flexibility for people to attend with work commitments.
            " />
            
            <CampaignBlock id = "political-community-engagement" title = "Political &amp; Community Engagement", blockText = "In the 2022 Tecumseh Elections, the voter turnout was at 28.72% and historically, Windsor-Essex has had the lowest voter turnout in Ontario. Political &amp; community engagement needs to be improved in order for the voice of our community to be heard and understood. The Town of Tecumseh has already implemented phone voting and other accessible methods but more needs to be done to drive political engagement.
            <br><br>
            <ul>
                <li>Provide council meeting recordings in a timely manner on the town of Tecumseh&rsquo;s website. The last regular council meeting was uploaded on November 14th, 2023.</li>
                <li>Provide a YouTube link on the town of Tecumseh&rsquo;s website to allow people another method to keep up to date with council meetings. You currently have to search out the videos on your own.</li>
                <li>Maintain the live streaming of council meetings. Allow for guest speakers to attend council meetings to address accessibility concerns.</li>
                <li>Encourage the younger voters to be engaged in local government by holding assemblies at high schools near election dates.</li>
                <li>Schedule regular debates &amp; town halls during municipal elections for the town to hear candidates&rsquo; platforms. This would help voters in making an informed decision during elections and encourage voting for a candidate&rsquo;s platform instead of name recognition.</li>
                </ul>" />

            <CampaignBlock id = "active-transportation" title = "Active Transportation", blockText = "Creating a town with walkable neighbourhoods and active 
            transportation in mind is something I would like to expand going forward. 
            Active transportation (biking, walking, skateboarding, etc) reduces road congestion, 
            lowers the emissions in our town, provides an opportunity to be physically active simply by commuting and 
            is easily accessible to almost everyone.
            <br><br>
            <ul>
                <li>Continue to expand bicycle infrastructure in Tecumseh to promote healthy living and active transportation</li>
                <li>Prioritise active transportation in the design of future town expansion and development</li>
                </ul>
                
                " />

            
            <CampaignBlock id = "climate-change" title = "Climate Change", blockText = "The effects of climate change are an unfortunate reality that many communities all over the world will be facing in the future, big cities to small towns like ours. From an increase in precipitation (August 2017 storm), to an increase in overall temperatures (record highs every year), communities need to properly prepare in order to be successful in mitigating/lessening the effects of climate change. If elected as your Ward 3 Councillor, I would propose the following:
            <br><br>
            <ul>
                <li>Install solar panels in stages at appropriate town owned buildings. While the initial cost may be high, the panels will be a source of free, green electricity after approximately 10 years.</li>
                <li>Upgrade the municipal drainage systems and sewer systems to ensure they have the capacity for future big storms (August 2017). The main cause of recent floodings is due to the peak volume of rainfall in a short time frame.</li>
                <li>Continue to update the municipal emergency plan for nature emergencies and ensure support from the provincial and federal government.</li>
                <li>Start a program to provide trees at cost for homeowners to plant in their front and/or backyard. This will provide more green space in the town and allows more trees to soak up water during storms.</li>
                <li>Change the remaining street lights into LED lights to cut down energy costs for the town.</li>
                <li>Give incentives for multi-family buildings to be built with solar panels and green space on its property.</li>
                </ul>" />

            <CampaignBlock id = "affordable-housing-zoning" title = "Affordable Housing &amp; Zoning", blockText = "As mentioned previously in active transportation, changing a town into a walkable neighbourhood has the added benefit of providing more affordable housing. This is done by changing decade old zoning laws to allow for the building of multi-family housing and allowing the building of businesses near residential areas (i.e. Walkerville). From a financial point of view, multi-family housing and multi-use buildings will be beneficial to the town since they provide a much higher property tax return per square metre.
            <br><br>
            <ul>
                <li>Change certain zoning laws to promote multi-family homes, apartment/condo buildings and multi-use buildings while prioritising stormwater management and EBA (Event Based Area) &amp; IPZ (Intake Protection Zones) zones in accordance with ERCA (Essex Region Conservation Authority).</li>
                <li>Prioritise multi-family and multi-use buildings in the design of future town expansion where suitable.</li>
                <li>Increase the property tax per each additional unit a company/person owns, marginal tax % increase with each additional unit. Disincentivizes the hoarding of housing supply for businesses and increases housing supply.</li>
                </ul>" />

            <CampaignBlock id = "financial-accountability" title = "Financial Accountability", blockText = "I would keep the property taxes at their current level since the town of Tecumseh has been able to generate a surplus in the last four out of five years. This shows that the tax levels allow for a fiscally responsible budget to provide optimal services for the town. I am also a huge proponent of supporting local businesses, workers and unions and would vote against any proposal that goes against their best interest. To achieve these views, I would:
            <br><br>
            <ul>
                <li>Ensure the town&rsquo;s budget stays within budget by being fiscally responsible and pursuing methods of revenue generation mentioned above.</li>
                <li>Keep surplus funds in an investment vehicle to preserve capital and increase revenue generation.</li>
                <li>Use surplus funds to pay for one-time investments/projects as needed.</li>
                <li>Lower the tax rate for businesses located in Tecumseh with one location to boost organic growth and employment.</li>
                </ul>" />

            <CampaignBlock id = "outside-investment" title = "Outside Investment", blockText = "Work in tandem with other Windsor-Essex municipalities to attract outside investment for the Town of Tecumseh and retain it. The town possesses several large and attractive places for businesses to develop. Ease of access to Highway 401 and affordable cost of land are the big proponents of luring investment in the town. A distribution centre or an industrial factory would be suitable candidates to make use of the location.
            <br><br>
            <ul>
                <li>Along with other Windsor-Essex municipalities, lobby the provincial government for funding to combat flooding and other environmental issues. Funding could be used proactively on infrastructure like the City of Windsor used to update the Grand Marais Drain.</li>
                <li>Vote against any proposed artificial intelligence data centers in the town.</li>
                </ul>" />

            </div>
</Layout>
            
            <style>
                h1{
                    display:flex;
                    justify-content:center;
                    margin-bottom: 2rem;
                }
                
                .content-blocks{
                    display:grid;
                    gap:16px;
                }
            </style>