--- 
import Layout from '../layouts/Layout.astro';
import CampaignBlock from '../components/CampaignBlock.astro';
export const pageTitle = "Public Transit";
---
<Layout pageTitle = {pageTitle}>
  
    <CampaignBlock title = {pageTitle}, blockText = "I believe in investing in public transit infrastructure due to the benefits it provides to the people. Improving public transit would provide less congestion on the roads, it reduces commute times, provides another option and convenience for transportation and has much lower emissions. It takes a long time to build a good public transit system with proper planning, modernised design and implementation. There&rsquo;s no better time to start now in order to ensure Tecumseh has good public transit infrastructure. 
    In order to address the issue, I would:
<ul>
  <li>Shelters need to be installed on all bus stops in Tecumseh, starting with the most used bus stops. The design should be low maintenance, damage-resistant, allows visibility, provides shade and shelter from the elements. This will encourage more ridership for Tecumseh Transit Service and generate additional revenue after the initial investment of bus shelters.</li>
  <li>Having bus shelters/benches provides advertising opportunities for local businesses and would help cover some of the cost of the service.</li>
  <li>Work in tandem with the City of Windsor to provide an improved route to Windsor from Tecumseh.</li>
  <li>Expand the current route from Lesperance Road &amp; Renaud Street southbound to creating a stop at Lesperance &amp; Westlake Drive by the Tecumseh Tower Centre. This small route expansion would increase support for local businesses and spur increased ridership.</li>
</ul>"</CampaignBlock>
</Layout>

