---
const { title, blockText} = Astro.props;
import '../styles/global.css';
import {Image} from 'astro:assets';
---
<style> 
    .flat-card-container {
        display: grid;
        background-color: #ffffff;
        border: 1px solid #e2e7f0;
        border-radius: 10px;
        margin-top: 1rem;
        padding: 1rem;
    }

    .flat-card {
        display: flex;
    }

    h2 {
        color: #1a1917;
        font-size: x-large;
        font-weight: 500;
        margin: 0 0 0.5rem 0;
    }

    p {
        font-family: var(--source-sans-3);
        color: #5c5852;
        
        margin: 0;
    }

    @media (max-width: 600px) {
        .block{
            flex-direction: column;
        }
    }

</style> 

<section class = "flat-card-container">
    <div class = "flat-card">
        <div class = "flat-card-text"> 
            <h2> { title } </h2>
            <p> <Fragment set:html={blockText}/> </p>
            <slot />
        </div>
    </div>
</section>

