---
import Header from "../components/Header.astro"
import { Font } from "astro:assets";
import '../styles/global.css'
const { pageTitle } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<Font cssVariable="--font-public"/>
		<Font cssVariable = "--source-sans-3"/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>{pageTitle}</title>
	</head>
	<body>
	<header>
		<Header/>
	</header>
		<slot />
	</body>
</html>
